# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [2]:
tuple1 = (1, 2, 3, "a", "b", "c", ["A1","A2","A3"], ["B1","B2","B3"], {"banane" : 426, "poire" :879, "cacaouhète": 57346826}, {"camenbert" : "bon", "papillon": "joli","kamoulox" :'je passe"'} )
print(tuple1[7][-2])

B2

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [4]:
print(tuple1[-4:])

(['A1', 'A2', 'A3'], ['B1', 'B2', 'B3'], {'banane': 426, 'poire': 879, 'cacaouhète': 57346826}, {'camenbert': 'bon', 'papillon': 'joli', 'kamoulox': 'je passe"'})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [6]:
liste1 = list(tuple1)
liste1[3] = "AAA"
tuple1 = tuple(liste1)

print(tuple1)

(1, 2, 3, 'AAA', 'b', 'c', ['A1', 'A2', 'A3'], ['B1', 'B2', 'B3'], {'banane': 426, 'poire': 879, 'cacaouhète': 57346826}, {'camenbert': 'bon', 'papillon': 'joli', 'kamoulox': 'je passe"'})

# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [12]:
t1 = (45, 26 ,89)
t2 = (67, 84, 12)

if sum(t1)>sum(t2):
  print("t1 returns the highest total value")
elif sum(t1)<sum(t2):
  print("t2 returns the highest total value")
else :
  print ("t1 and t2 return equal total values")

t2 returns the highest total value

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [14]:
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

position = int(input("indicate a position to change "))
newValue = input("indicate the new value ")

liste = list(my_tuple)
liste[position] = newValue
my_tuple = tuple(liste)

print(my_tuple)

indicate a position to change 3
indicate the new value data j'sais pas quoi
('data analyst', 'data scientist', 'data engineer', "data j'sais pas quoi")